<div class="m-10 bg-slate-100">
    <div class="text-center">
            <p class="text-5xl text-indigo-400" >Создаем возможности</p>
            <p class="text-4xl text-neutral-500">для развития Вашего бизнеса</p>
            <br>
            <span class="text-3xl">Наши услуги</span>
    </div>



</div>