<div class="flex pb-32 pt-24 px-48">
    <div class="w-1/2 p-10">
        <p class="text-center text-5xl font-semibold mb-10">С 2018 года на инженерно-строительном рынке</p>
        <ul class="mt-4 text-xl list-disc">
            <li class="m-2">Большой спектр предоставляемых услуг</li>
            <li class="m-2">Опытная команда инженеров – стаж более 10 лет</li>
            <li class="m-2">Сотни счастливых клиентов</li>
        </ul>
    </div>
    <div class="flex flex-wrap gap-y-4 w-1/2 justify-evenly">
        <div class="w-48 h-48">
            <img class="w-full h-full" src="{{ asset('build/img/Services/fire1.jpg') }}" alt="">
        </div>
        <div class="w-48 h-48">
            <img class="w-full h-full" src="{{ asset('build/img/Services/fire1.jpg') }}" alt="">
        </div>
        <div class="w-48 h-48">
            <img class="w-full h-full" src="{{ asset('build/img/Services/fire1.jpg') }}" alt="">
        </div>
        <div class="w-48 h-48">
            <img class="w-full h-full" src="{{ asset('build/img/Services/fire1.jpg') }}" alt="">
        </div>

    </div>
</div>